/*

!/configuration
/configuration/*
!/configuration/*.yaml
!/configuration/*/
/configuration/*/*
!/configuration/*/*.yaml

!/www
#/www/*
#!/www/*.html
#!/www/*/
#/www/*/*
#!/www/*/*.html

!/custom_components
/custom_components/*
!/custom_components/*.py

!*.yaml
secrets.yaml
known_devices.yaml

!.gitignore
